@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.bgLinear {
  background: rgb(200, 60, 52);
  background-color: linear-gradient(309deg, #c83c34 0%, #a40e0e 100%);
}

.backgroundnisme {
  background: linear-gradient(242deg, #c83c34 0%, #a40e0e 100%);
}

.bg-operlay {
  background: url("../assets/img/bg-overlay.webp") no-repeat;
  background-size: cover;
}

text-poppins {
  font-family: "Poppins", sans-serif;
}

details.group[open] {
  background-color: #c83c34; /* Ganti dengan warna latar belakang yang Anda inginkan */
}
